{
  "extends": "stylelint-config-recommended-scss",
  "rules": {
    "color-named": "never",
    "no-empty-source": null,
    "selector-pseudo-element-no-unknown": [true, {
      "ignorePseudoElements": "ng-deep"
    }]
  },
  "ignoreFiles": [
    "node_modules/*",
    "src/assets/**"
  ],
  "defaultSeverity": "error"
}